<script>
export default {
  props: {
    "datasets": Array,
    "selectedDatasetIndex": Number,
  },
  data() {
    return {
      playing: false,
      speed: 0.5,
      timeoutHandle: null,
    }
  },
  computed: {
    delay() {
      return this.format(this.speed) + "s (" + this.format(1 / this.speed) + " per seconde)";
    },
    size() {
      return this.datasets == null
        ? "-"
        : this.datasets.length;
    },
    selectedDate: {
      get() {
        return this.selectedDatasetIndex;
      },
      set(val) {
        clearTimeout(this.timeoutHandle);
        this.playing = false;
        this.$emit('change', val);
      }
    },
  },
  watch: {
    playing: {
      handler(newVal) {
        if (newVal) {
          this.advanceNextDataset();
        } else {
          clearTimeout(this.timeoutHandle);
        }
      }
    }
  },
  methods: {
    loadAll() {
      this.$emit("load-all");
    },
    advanceNextDataset() {
      let next = ((this.selectedDatasetIndex - 1) % this.datasets.length);
      next = next < 0 ? this.datasets.length - 1 : next;
      this.$emit('change', next);
      this.timeoutHandle = setTimeout(() => this.advanceNextDataset(), this.speed * 1000);
    },
    acc() {
      let delta = this.speed <= 1
        ? 0.05 : this.speed < 5
        ? 0.5 : 1;
      this.modSpeed(-delta);
    },
    dec() {
      let delta = this.speed <= 1
        ? 0.05 : this.speed < 5
        ? 0.5 : 1;
      this.modSpeed(delta);
    },
    modSpeed(delta) {
      this.speed = Math.max(0.05, this.speed + delta);
    },
    getKey(set) {
      return set[0];
    },
    getText(set) {
      let data =  Object.entries(set)[0];
      return  data[0];
    },
    getTotal(set) {
      let data =  Object.entries(set)[0];
      return  this.format(Array.from(data[1].values())
        .reduce((acc, val) => acc + val, 0)) + " positief";
    },
    format(str) {
      return str == "-" ? str : parseFloat(str).toLocaleString({ maximumFractionDigits: 1 });
    }
  }
}
</script>

<template>
  <v-card>
    <v-list two-line
      subheader>
      <v-subheader  @click="console.log('test')">Afspeelbediening</v-subheader>
          <v-card
            flat
            tile
            width="100%"
            class="orange lighten-5 text-center">
            <v-card-text>
              <v-tooltip top
                transition="slide-y-transition">
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    @click="acc()"
                    class="mx-2 white"
                    color="orange"
                    v-bind="attrs"
                    v-on="on"
                    icon>
                    <v-icon size="24px">mdi-chevron-double-up</v-icon>
                  </v-btn>
                </template>
                <span>Sneller</span>
              </v-tooltip>
              <v-tooltip top
                transition="slide-y-transition">
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    class="mx-2"
                    v-bind="attrs"
                    v-on="on"
                    @click="playing = true"
                    :class='!playing ? "white" : "orange"'
                    :color='playing ? "white" : "orange"'
                    icon>
                    <v-icon size="24px">mdi-play</v-icon>
                  </v-btn>
                </template>
                <span>Automatisch afspelen</span>
              </v-tooltip>
              <v-tooltip top
                transition="slide-y-transition">
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    class="mx-2"
                    v-bind="attrs"
                    v-on="on"
                    @click="playing = false"
                    :class='playing ? "white" : "orange"'
                    :color='!playing ? "white" : "orange"'
                    icon>
                    <v-icon size="24px">mdi-pause</v-icon>
                  </v-btn>
                </template>
                <span>Pauze</span>
              </v-tooltip>
              <v-tooltip top
                transition="slide-y-transition">
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    @click="dec()"
                    class="mx-2 white"
                    color="orange"
                    v-bind="attrs"
                    v-on="on"
                    icon>
                    <v-icon size="24px">mdi-chevron-double-down</v-icon>
                  </v-btn>
                </template>
                <span>Trager</span>
              </v-tooltip>
            </v-card-text>
            <v-list-item-subtitle>{{ delay }}</v-list-item-subtitle>
          </v-card>
    </v-list>

    <v-divider></v-divider>

    <v-list dense>
      <v-subheader>DATASETS</v-subheader>

      <v-list-item>
        <v-list-item-content>
          <v-btn
            @click="loadAll()"
            class="mx-2 white"
            color="orange">
            <v-icon size="24px">mdi-load</v-icon>
            <v-list-item-subtitle>Laad alle datasets</v-list-item-subtitle>
          </v-btn>
        </v-list-item-content>
      </v-list-item>

      <v-list-item-group
        v-model="selectedDate"
        color="primary">

        <v-list-item
          v-for="dataset in datasets"
          :key="getKey(dataset)">
          <v-list-item-content>
            <v-list-item-title v-text="getText(dataset)"></v-list-item-title>
            <v-list-item-subtitle v-text="getTotal(dataset)"></v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-list-item-group>
    </v-list>
  </v-card>
</template>

<style scoped>
</style>
