<script>
export default {
  props: {
    "mode": String,
  },
  data() {
    return {
      fab: false,
    }
  },
  computed: {
    currentModeIcon() {
      return this.modeIcon(this.mode);
    },
    currentModeColor() {
      return this.modeColor(this.mode);
    }
  },
  methods: {
    selectMode(mode) {
      this.$emit("set-mode", mode);
    },
    modeIcon(mode) {
      return {
        'absolute': 'mdi-numeric',
        'perPopulation': 'mdi-account-group',
        'perSurface': 'mdi-texture-box'
      }[mode];
    },
    modeColor(mode) {
      return {
        'absolute': 'red',
        'perPopulation': 'green',
        'perSurface': 'blue'
      }[mode];
    },
  }
}
</script>

<template>
  <v-speed-dial
    v-model="fab"
    class="speed-dial"
    direction="right"
    :absolute="false"
    open-on-hover>
    <template v-slot:activator>
      <v-btn :color="currentModeColor" dark fab>
        <v-icon>{{ currentModeIcon }}</v-icon>
      </v-btn>
    </template>
    <v-tooltip top fab
      transition="slide-y-transition">
      <template v-slot:activator="{ on, attrs }">
        <v-btn fab dark small color="red"
          @click='selectMode("absolute")'
          v-bind="attrs"
          v-on="on">
          <v-icon>mdi-numeric</v-icon>
        </v-btn>
      </template>
      <span>Totaal</span>
    </v-tooltip>
    <v-tooltip top fab
      transition="slide-y-transition">
      <template v-slot:activator="{ on, attrs }">
        <v-btn fab dark small :color='modeColor("perPopulation")'
          @click='selectMode("perPopulation")'
          v-bind="attrs"
          v-on="on">
          <v-icon>{{ modeIcon("perPopulation") }}</v-icon>
        </v-btn>
      </template>
      <span>Aantal per 100,000 inwoners</span>
    </v-tooltip>
    <v-tooltip top fab
      transition="slide-y-transition">
      <template v-slot:activator="{ on, attrs }">
        <v-btn fab dark small :color='modeColor("perSurface")'
          @click='selectMode("perSurface")'
          v-bind="attrs"
          v-on="on">
          <v-icon>{{ modeIcon("perSurface") }}</v-icon>
        </v-btn>
      </template>
      <span>Aantal per km<sup>2</sup></span>
    </v-tooltip>
  </v-speed-dial>
</template>

<style scoped lang="scss">
</style>
