<script>
export default {
  props: {
    "scale": String,
  },
  data() {
    return {
      fab: false,
    }
  },
  computed: {
    currentScaleIcon() {
      return this.scaleIcon(this.scale);
    },
    currentScaleColor() {
      return this.scaleColor(this.scale);
    }
  },
  methods: {
    selectScale(scale) {
      this.$emit("set-scale", scale);
    },
    scaleIcon(scale) {
      return {
        'log': 'Log',
        'lin': 'Lin',
      }[scale];
    },
    scaleColor(scale) {
      return {
        'log': 'green',
        'lin': 'purple',
      }[scale];
    },
  }
}
</script>

<template>
  <v-speed-dial
    v-model="fab"
    class="speed-dial"
    direction="right"
    :absolute="false"
    open-on-hover>
    <template v-slot:activator>
      <v-btn :color="currentScaleColor" dark fab>{{ currentScaleIcon }}</v-btn>
    </template>
    <v-tooltip top fab
      transition="slide-y-transition">
      <template v-slot:activator="{ on, attrs }">
        <v-btn fab dark small :color='scaleColor("log")'
          @click='selectScale("log")'
          v-bind="attrs"
          v-on="on">Log</v-btn>
      </template>
      <span>Logaritmisch</span>
    </v-tooltip>
    <v-tooltip top fab
      transition="slide-y-transition">
      <template v-slot:activator="{ on, attrs }">
        <v-btn fab dark small :color='scaleColor("lin")'
          @click='selectScale("lin")'
          v-bind="attrs"
          v-on="on">Lin</v-btn>
      </template>
      <span>Lineair</span>
    </v-tooltip>
  </v-speed-dial>
</template>

<style scoped lang="scss">
</style>
