<template>
  <v-app>
    <v-app-bar app
      color="orange accent-3">
      <v-app-bar-nav-icon @click="drawerLeft = !drawerLeft"></v-app-bar-nav-icon>
      <v-toolbar-title>coronagebied.nl</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon
        @click="drawerRight= !drawerRight">
        <v-icon>mdi-clipboard-text</v-icon>
      </v-btn>
    </v-app-bar>

    <v-navigation-drawer
      v-model="drawerLeft"
      absolute
      temporary>
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title class="text-h6">
            coronagebied.nl
          </v-list-item-title>
          <v-list-item-subtitle>Geen QR-code maatschappij.</v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>
      <v-list nav dense>
        <v-list-item to="/">
          <v-list-item-icon>
            <v-icon>mdi-sigma</v-icon>
          </v-list-item-icon>
          <v-list-item-title>Actieve gevallen</v-list-item-title>
        </v-list-item>
        <!--
        <v-list-item to="/positive">
          <v-list-item-icon>
            <v-icon>mdi-test-tube</v-icon>
          </v-list-item-icon>
          <v-list-item-title>Positieve tests</v-list-item-title>
        </v-list-item>
        <v-list-item to="/hospital">
          <v-list-item-icon>
            <v-icon>mdi-hospital-building</v-icon>
          </v-list-item-icon>
          <v-list-item-title>Ziekenhuisopnames</v-list-item-title>
        </v-list-item>
        <v-list-item to="/fatal">
          <v-list-item-icon>
            <v-icon>mdi-coffin</v-icon>
          </v-list-item-icon>
          <v-list-item-title>Sterfgevallen</v-list-item-title>
        </v-list-item>
        <v-list-item to="/about">
          <v-list-item-icon>
            <v-icon>mdi-information-outline</v-icon>
          </v-list-item-icon>
          <v-list-item-title>Over</v-list-item-title>
        </v-list-item>
        -->
      </v-list>
    </v-navigation-drawer>
    
    <!-- Sizes your content based upon application components -->
    <v-main>
      <router-view
        :selectedDate="selectedDate"
        :selectedData="selectedData"></router-view>

      <v-navigation-drawer
        v-model="drawerRight"
        absolute
        hide-overlay
        right
        temporary>
        <datasets-component
          :datasets="datasets"
          :selectedDatasetIndex="selectedDatasetIndex"
          @load-all="loadAll()"
          @change="selectedDatasetIndex = $event" />
      </v-navigation-drawer>
    </v-main>
  </v-app>
</template>

<script>
import DatasetsComponent from './components/DatasetsComponent.vue'

export default {
  name: 'App',
  data: () => ({
    datasets: new Array(),
    selectedDatasetIndex: null,
    drawerLeft: false,
    drawerRight: true,
    loading: false,
  }),
  created() {
    this.drawerRight = !this.$vuetify.breakpoint.mobile;
  },
  mounted() {
    let now = new Date();
    now.setDate(now.getDate() - 100);

    let dateStart = now.toISOString().slice(0, 10);

    fetch("/api/active-cases?startDate=" + dateStart)
      .then(response => response.json())
      .then(data => this.process(data));
  },
  computed: {
    selectedDate() {
      let dataset = this.datasets == null || this.selectedDatasetIndex == null
        ? null
        : this.datasets[this.selectedDatasetIndex];
      return dataset == null ? null : Date.parse(Object.entries(dataset)[0][0]);
    },
    selectedData() {
      let dataset = this.datasets == null || this.selectedDatasetIndex == null
        ? null
        : this.datasets[this.selectedDatasetIndex];
      return dataset == null ? null : Object.entries(dataset)[0][1];
    }
  },
  methods: {
    loadAll() {
      if (this.loading) {
        return;
      }

      this.loading = true;
      this.datasets.length = 0;
      fetch("/api/active-cases?startDate=2020-02-03")
        .then(response => response.json())
        .then(data => this.process(data));
    },
    process(data) {
      data.forEach(entry => Object.entries(entry)
        .forEach(date => {
          let map = new Map();
          Object.entries(date[1]).forEach(line => {
            map.set(line[0], Number(line[1]));
          });
          this.datasets.push({ [date[0]]: map });
      }));

      this.datasets.sort((o1, o2) => {
        return -Object.entries(o1)[0][0].localeCompare(Object.entries(o2)[0][0]);
      });

      this.selectedDatasetIndex = 0;
      this.loading = false;
    },
  },
  components: {
    DatasetsComponent,
  }
}
</script>

<style scoped>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
</style>
