<script>
import AreaVector from '../components/area-vector'
import MapModeDialComponent from '../components/map/MapModeDialComponent.vue'
import MapScaleDialComponent from '../components/map/MapScaleDialComponent.vue'

export default {
  components: { MapModeDialComponent, MapScaleDialComponent },
  props: {
    "selectedDate": Number,
    "selectedData": Map,
    "active": String,
  },
  data() {
    return {
      title: "Positieve tests (laatste 2 weken)",
      metadata: null,
      map: null,
      sum: null,
      mode: "perPopulation",
      scale: "lin",
    }
  },
  computed: {
    date() {
      const options = { year: 'numeric', month: 'long', day: 'numeric' };
      return this.selectedDate == null
        ? "-"
        : new Date(this.selectedDate)
          .toLocaleDateString("nl-NL", options);
    },
    hasData() {
      return this.metadata != null && this.selectedData != null && this.selectedData.has(this.metadata.gemeentecode);
    }, 
    hasNoData() {
      return this.metadata != null && this.selectedData != null && !this.selectedData.has(this.metadata.gemeentecode);
    }, 
    selectedCases() {
      return this.selectedData == null ? "-" : this.selectedData.get(this.metadata.gemeentecode);
    },
    casesPer100k() {
      return this.selectedData == null ? "-" : (this.selectedData.get(this.metadata.gemeentecode) / this.metadata.aantalInwoners) * 100_000;
    },
    casesPerKm2() {
      return this.selectedData == null ? "-" : (this.selectedData.get(this.metadata.gemeentecode) / (this.metadata.aantalInwoners / this.metadata.bevolkingsdichtheidInwonersPerKm2));
    },
    totalSum() {
      return this.sum ?? "-";
    },
  },
  watch: {
    selectedData: {
      immediate: true,
      handler(newVal) {
        if (this.map != null) {
          this.map.draw(newVal);
        }
      }
    }
  },
  mounted() {
    this.map = new AreaVector(this.$refs.map);
    this.map.onHoverFeature(props => {
      this.metadata = props;
    });
    this.map.setMode(this.mode);
    this.map.setScale(this.scale);
  },
  methods: {
    selectMode(mode) {
      this.mode = mode;
      this.map.setMode(mode);
    },
    selectScale(scale) {
      this.scale = scale;
      this.map.setScale(scale);
    },
    updateSum(val) {
      this.sum = val;
    },
    format(str) {
      return str == "-" ? str : parseInt(str).toLocaleString();
    }
  }
}
</script>
<template>
    <div class="mapContainer">
      <div class="infoContainer">
        <h1>{{ date }}</h1>
        <h2>{{ title }}: {{ format(totalSum) }}</h2>
        <template v-if="hasData">
          <h3>{{ metadata.gemeentenaam }}: {{ format(selectedCases) }}</h3>
          <div class="row">
            <div class="label">
              <span>Aantal inwoners:</span>{{ format(metadata.aantalInwoners) }}
            </div>
            <div class="statPer100k">({{ format(casesPer100k) }} / 100k)</div>
          </div>
          <div class="row">
            <div class="label">
              <span>Inwoners per km<sup>2</sup>:</span>{{ format(metadata.bevolkingsdichtheidInwonersPerKm2) }}
            </div>
            <div class="statPerKm2">({{ format(casesPerKm2) }} / km<sup>2</sup>)</div>
          </div>
        </template>
        <div v-if="hasNoData">
          <h3>{{ metadata.gemeentenaam }}</h3>
          <p>Geen gegevens voor deze gemeente</p>
        </div>
      </div>
      <div id="map" ref="map" class="map"
        @sum-update="updateSum($event.detail)"></div>

      <div class="options">
        <map-scale-dial-component
          :scale="scale"
          @set-scale="selectScale($event)" />
        <map-mode-dial-component
          :mode="mode"
          @set-mode="selectMode($event)" />
      </div>
    </div>
</template>

<style scoped lang="scss">
.mapContainer {
  width: 100%;
  height: 100%;
}

.options {
  position: absolute;
  left: 0px;
  bottom: 1em;
  display: flex;
  padding: 1em;
  gap: 1em;
  flex-direction: column;
}

.label {
  width: 200px;
  display: flex;
  align-items: center;

  span {
    display: block;
    width: 140px;
  }
}

.statPer100k, .statPerKm2 {
  margin-left: 10px;
}

.infoContainer {
  z-index: 1;
  position: absolute;
  top: 20px;
  left: 20px;
  background: #f5f5f588;
  padding: 20px;
  font-size: 1.2em;

  h2 {
    font-size: 1.6em;
    font-weight: 300;
    margin: 10px 0;
  }

  h3 {
    display: flex;
    align-items: center;
  }

  .row {
    margin: 0.2em 0px;
    font-size: 0.8em;
    display: flex;
    align-items: center;
  }
}

.map {
  width: 100%;
  height: 100%;
}
</style>
